
.section_display{
    display: flex;
    width: 80%;
    align-items: center;
    height: 75%;
    margin: auto;
    gap: 10px;
}
.display{

    max-width: 80% ;
    min-width: 80%;
    border: solid rgb(222, 196, 236) 5px;
    border-radius: 8px;
    height: 580px;
    transition: 1s;
    position: relative;
    z-index: 1;
    background-size: cover;

}
.display_weather_cont{
    padding-top: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.weather_title{
    width: 200px;
    height: 90px;
    background-color: rgba(231, 229, 229, 0.644);
    font-size: 20px;
    border-radius: 8px;
    font-weight: 500;
    padding: 10px;
    box-sizing: border-box;
    /* text-align: end; */
}
.control{

    display: flex;
    flex-direction: column;
    gap: 20px;
    /* position: absolute; */
    /* top: 0; */
    /* left: 15px; */
    /* bottom: 0; */
    /* margin: auto; */
    height: 580px;
}
.control_btn{

    width: 250px;
    height: 80px;
    border-radius: 8px;
    background: rgb(104, 132, 207);
    color: azure;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 0.5s;
    
}
.control_btn:hover{
    background: pink;
}
/* .titleWeather{
    display: block;
    position: absolute;
    right: 0;
    text-align: end;
} */